body {
  padding: 10px;
}

h1, h2 {
  text-align: center;
}
#board{
  margin: 0 auto;
}

#board td{
  border: 1px solid #ddd;
  width: 8px;
  height: 8px;
}

td.dead {
  background-color: #fff;
}

td.red {
  background-color: red;
}

td.blue {
  background-color: blue;
}

#control_panel {
  text-align: center;
}

#control_panel_main {
  margin: 20px auto;
  text-align: center;
}

.control_panel_note {
  margin: 7px;
  text-align: center;
}

#control_panel_settings {
  text-align: center;
}

#settings_interval {
  margin: 15px;
}

#game_over {
  margin: 20px auto;
}

.disabled {
      pointer-events: none;
      cursor: default;
      opacity: 0.6;
}

.hidden {
  opacity: 0;
}
